.wrapper-cart {
	margin: 0 auto;
	width: 100%;
}
.section-details {
	float: left;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;
	margin-top: 100px;
}
.cart-container {
	margin: 0 auto;
	display: flex;
	flex: 1;
	flex-direction: row;
	// justify-content: space-between;
}
hr {
	width: 100%;
	margin: 0 auto;
	border: 1px solid #ccc;
}
.list-product {
	width: 100%;
}

.font {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

th {
	text-align: center;
}

td {
	text-align: center;
}