.Container {
        float: left;
        width: 100%;
}

.sidebar {
    float: left;
    width: 13%;
    min-height: 100vh;
    height: 100%;
  }

.content {
  float: left;
  background-color: rgb(147, 207, 213);
  min-height: 100vh;
  width: 87%;
}