@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #444444;

}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.section-products .header {
  margin-bottom: 70px;
  margin-top: 20px;
}

.section-products .header h3 {
  font-size: 1rem;
  color: #fe302f;
  font-weight: 500;
}

.section-products .header h2 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #444444;
}
.product-banner {
  width: 1520px;
  width: 100%;
}
.section-products {
  padding: 0 !important; 

}
