.wrapper {
  width: 1520px;
  width: 100%;
  height: 77px;
  position: fixed;
  overflow: hidden;
  z-index: 1000;
}
.text-icon.toggleTextHeader {
  color: black;
}
.text_logo.toggleTextHeader {
  color: black;
}
.icon.toggleTextHeader {
   color: black;
}
.wrapper.toggleHeader {
  background-color: white;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
  transition: all 0.3s ease-in-out;
  color: black;
}


* {
  margin: 0;
  padding: 0;
}

.header-content {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  height: 77px;
  width: 90%;
  margin: 0 auto;
}

.text_logo {
  font-size: 35px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  display: flex;
  text-align: center;
  margin-top: -5px;
}
.text-icon {
  font-size: 15px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
}

ul {
  list-style-type: none;
}
a {
  display: flex;
  color: inherit;
  align-items: center;
  list-style-type: none;
  text-decoration: none !important;
  // margin-top: 15px;
  // color: black !important;
}

li {
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.icon-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  padding: 16px;
}
.icon {
  font-size: 22px;
  color: rgb(255, 255, 255);
  margin-right: 12px;
}
