
.wrapper {
    color: black;
    width: 1520px;
    width: 100%;
    height: 77px;
    background-color: white;
    position: fixed;
    overflow: hidden;
    
    z-index: 1000;
}
* {
    margin: 0;
    padding: 0;
  }

.header-content {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;  
    height: 77px;
}

#text_logo{
    font-size: 30px;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    display: flex;
    text-align: center;
    margin-left: 100px;
}

ul {
    list-style-type: none;
}
li {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;

}
.icon-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#icon {
    font-size: 22px;
    color: black;
    margin-right: 10px;
}